.card {
  position: relative;
  width: 264px;
  height: 374px;
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  text-align: center;
  box-sizing: border-box;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card img {
  max-width: 100%;
  height: auto;
  margin-top: 1rem;
}

.delete-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: #f87171; /* rouge clair */
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.card:hover .delete-button{
  opacity: 1;
}

.delete-button:hover {
  background-color: #ef4444;
}

.update-button {
  position: absolute;
  top: 0.5rem;
  right: 3.5rem;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.card:hover .update-button {
  opacity: 1;
}