.card {
  position: relative;
  width: 264px;
  height: 374px;
  background: white;
  padding-top: 2rem;
  padding-bottom: .6rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  text-align: center;
  box-sizing: border-box;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  min-width: 0;
  justify-content: space-between;
  align-items: center;
}

.main .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.main .card h2 {
  font-size: 1.2rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: -0.3em;
  padding-bottom: 0.3em;
  width:100%;
}

.main .card .card-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 2.4em;
}

.main .card .card-text-without-content {
  -webkit-line-clamp: 12;
  line-clamp: 12;
}

.card img {
  max-width: 100%;
  height: auto;
  margin-top: 1rem;
}

.card-button {
  top: 0.5rem;
  position: absolute;
  right: 0.5rem;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.card:hover .card-button {
  opacity: 1;
}

.delete-button {
  right: 1rem;
}

.update-button {
  right: 4rem;
}

.modal-content .card {
  box-shadow: none;
  background-color: white;
  padding: 0;
  width: 100%;
  height: 100%;
  cursor: auto;
}

.modal-content .card button {
  opacity: 1;
  top: -1rem
}

.card-form-text {
  width: 97%;
  resize: vertical;
  min-height: 3rem;
}

/* card content renderer */
.compact-link-preview {
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  color: #555;
}

.favicon {
  width: 128px;
  height: 128px;
  border-radius: 1rem;
  background-image: url("../../assets/link.png");
}

.favicon-small {
  width: 1rem;
  height: 1rem;
}

.hostname {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-wrapper {
  position: relative;
  width: 100%;
  height: 14em;
}

.placeholder {
  font-style: italic;
  color: #999;
}

.add-card-logo {
  color: var(--main-color);
}

.link-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;  
}