.card {
  position: relative;
  width: 264px;
  height: 374px;
  background: white;
  padding-top: 2rem;
  padding-bottom: 0.6rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  text-align: center;
  box-sizing: border-box;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  min-width: 0;
  justify-content: space-between;
  align-items: center;
}

.main .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.main .card h2 {
  font-size: 1.2rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: -0.3em;
  padding-bottom: 0.3em;
  width: 100%;
}

.main .card .card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 1.2em;
}

.card-text {
  white-space: pre-line;
}

.main .card .card-text-without-content {
  -webkit-line-clamp: 12;
  line-clamp: 12;
}

.card img {
  max-width: 100%;
  height: auto;
}

.card-button {
  top: 0.5rem;
  position: absolute;
  right: 0.5rem;
  display: flex;
  opacity: 0;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
  transition: opacity 0.2s ease;
}

.card:hover .card-button {
  opacity: 1;
}

.delete-button {
  right: 0.5rem;
}

.update-button {
  right: 3.5rem;
}

.save-draft-button {
  left: 0.5rem;
  right: auto;
}

.modal-content .card {
  box-shadow: none;
  background-color: white;
  padding: 0;
  width: 100%;
  height: 100%;
  cursor: auto;
}

.modal-content .card button {
  opacity: 1;
  top: -1rem;
}

.card-form-text {
  width: 97%;
  resize: vertical;
  min-height: 3rem;
}

/* card content renderer */
.compact-link-preview {
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  color: #555;
}

.favicon {
  width: 128px;
  height: 128px;
  border-radius: 1rem;
  background-image: url('../../assets/link.png');
}

.favicon-small {
  width: 2rem;
  height: 2rem;
}

.hostname {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-wrapper {
  position: relative;
  width: 100%;
  height: 14em;
}

.placeholder {
  font-style: italic;
  color: #999;
}

.add-card-logo {
  color: var(--main-color);
}

.link-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 0.5em;
}

.card-list-div {
  flex: 1;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  font-family: 'Inter', sans-serif;
}

@media (max-width: 601px) {
  .card-list-div {
    justify-content: center;
    align-items: center;
  }
}
