:root {
  --header-size: 50px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #2563eb;
  color: white;
  padding-left: 0.2rem;
  padding-right: 1rem;
  font-size: 1rem;
  display: flex;
  justify-content: flex-end; /* Aligne à droite horizontalement */
  align-items: flex-end; /* Aligne en bas verticalement */
  height: var(--header-size);
}

.blankspace {
  height: var(--header-size);
}
