@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
  --main-color: #2563eb;
}

html {
  height: 100%;
  background: #f3f4f6;
}

.main {
  flex: 1;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  font-family: 'Inter', sans-serif;
}

@media (max-width: 600px) {
  .main {
    flex-direction: column;
    align-items: center;
  }
}

button {
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 0.1rem;
  cursor: pointer;
  transition: background-color 0.2s;
  min-height: 2rem;
}

.red-button {
  background-color: red;
}

button:hover {
  background-color: #1d4ed8;
}

.red-button:hover {
  background-color: rgb(187, 3, 3);
}

.text-with-icon {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.small-text {
  font-size: .8rem;
}

.center {
  text-align: center;
}

.clickable-text {
  color: var(--main-color);
  text-decoration: underline;
  cursor: pointer;
}