@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#root {
  --main-color: #2563eb;
  --collection-tray-width: 15em;
  height: 100%;
  display: flex;
  flex-direction: column;
}

html {
  height: 100%;
  background: #f3f4f6;
  font-family: 'Inter', sans-serif;
}

.main {
  flex: 1;
  padding: 0em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  font-family: 'Inter', sans-serif;
  overflow-y: auto;
}

@media (max-width: 600px) {
  .main {
    flex-direction: column;
    align-items: center;
  }
}

button {
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 0.1rem;
  cursor: pointer;
  transition: background-color 0.2s;
  min-height: 2rem;
}

.red-button {
  background-color: #f87171;
}

button:hover {
  background-color: #1d4ed8;
}

button:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}

.red-button:hover {
  background-color: #ef4444;
}

.text-with-icon {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.small-text {
  font-size: 0.8rem;
}

.center {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.clickable-text {
  color: var(--main-color);
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.2s;
}

.clickable-text:hover {
  color: #031c60;
}

.tabs {
  display: flex;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.tab {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  transition: color 0.2s;
}

.tab:not(:last-child) {
  border-right: 1px solid #d1d5db;
}

.tab:hover {
  color: var(--main-color);
}

.active-tab {
  color: var(--main-color);
}

.tab-panel {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
